{% extends 'base.html.twig' %}

{% block title %}Nouvelle location{% endblock %}

{% block body %}
    
    <h1 class="text-center mb-5">Ajouter une  location</h1>
    {{ include('rental/_form.html.twig') }}

    <a href="{{ path('app_rental_index') }}" class="btn btn-secondary ms-5 mt-2 mb-2">Retour à la liste des locations</a>
{% endblock %}
