{% extends 'base.html.twig' %}

{% block title %}Liste des locataires{% endblock %}

{% block body %}
    <h1  class="text-center mb-3">Liste des locataires</h1>
    {{ include('tenant/_list.html.twig',{'is_action':true}) }}
{% endblock %}
