{% extends 'base.html.twig' %}

{% block title %}Nouveau locataire{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Ajouter un locataire</h1>

    {{ include('tenant/_form.html.twig') }}

    <a href="{{ path('app_tenant_index') }}"class="btn btn-secondary ms-5 mt-2 mb-2">Retour à la liste des locataires</a>
{% endblock %}
