<form method="post" action="{{ path('app_inventory_of_fixtures_delete', {'id': inventory_of_fixture.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ceci ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inventory_of_fixture.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
