{% extends 'base.html.twig' %}

{% block title %}Modification d'un paiement{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier un paiement</h1>

    {{ include('payment/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_payment_index') }}" class="btn btn-secondary ms-5 mt-2 mb-2">Retour à la liste des paiements</a>

{% endblock %}
